/* TODO: Add to Readme - Screenshots & links to repo and website  */

/* Establishes global CSS variables for primary-color, secondary-color, & tertiary-color  */
:root {
    --primary-color: rgb(215, 134, 215);
    --secondary-color: #800080;
    --tertiary-color: rgb(225, 188, 225);
}

/* Universal selector - sets box-sizing, padding, & margin for the page */
* {
    box-sizing: border-box;
    padding: 0;
    /* Padding is used to create space around an element's content, inside of any defined borders. */
    margin: 0;
    /* Margins are used to create space around elements, outside of any defined borders. */
}

/*Sets background color to light purple*/
body {
    background-color: var(--tertiary-color)
}

/* Centering the page */
.wrapper {
    max-width: 60em;
    margin: 0 auto;
}

/* HEADER STYLES START */

/* Sets following properties for the header */
.header {
    border: 1px solid black;
    background-color: #333;
    overflow: hidden;
    padding: 20px;
}

/* Sets position & font-size of h1 header element */
.header h1 {
    position: left;
    font-size: 48px;
}

/*Sets padding-top and margin-right for the navigation bar */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
}

/*Sets the list style type as none for the unordered list in the nav bar */
.header nav ul {
    list-style-type: none;
}

/*Sets the following properties for each unordered list element on the nav bar*/
.header nav ul li {
    margin-left: 25px;
    border-bottom: 2px solid var(--tertiary-color);
    display: inline;
}

/* Sets background color of the h1 element in the header & for the contact-form to purple   */
.header h1,
.contact-form {
    background-color: var(--secondary-color);
}

/* Sets the color for header, a, & contact-form elements to white  */
.header,
a,
.contact-form {
    color: white;
}

/* Sets the font-family for the nav bar & contact-form */
.header nav,
.contact-form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Sets font-size for nav elements in the header & the h3 element in the footer */
.header nav,
.footer h3 {
    font-size: 20px;
}

/* Sets the font-family for the header, footer, div elements in the hero-image class, & sectionarticle elements */
.header,
.hero-image div,
.sectionarticle,
.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Sets the following classes to display: flex */
.header,
.sectionarticle,
.sidebar h2,
.aboutme-image,
.resume-image,
.workme-image,
.footer {
    display: flex;
    /* Display flex: Displays an element as a block-level flex container https://www.w3schools.com/cssref/pr_class_display.asp */
    /* Flex container: A flex container expands items to fill available free space or shrinks them to prevent overflow. */
}

/* Distribute elements in the header and footer evenly, first item is flush with the start https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content   */
.header,
.footer {
    justify-content: space-between;
}

/* HEADER STYLES END */

/* STYLE A & P ELEMENTS START */

/* Sets text-decoration to light purple, which underlines all a elements in a solid light-purple */
a {
    text-decoration: var(--tertiary-color) 2px solid;
}

/*Sets font size of all p elements*/
p {
    font-size: 16px;
}

/* STYLE A & P ELEMENTS END */

/* FOOTER STYLES START */

/* Sets  padding of all footer elements, */
.footer {
    padding: 40px 35px;
}

/* Sets the font size of the div element of the footer class*/
.footer div {
    font-size: 12px;
}

/* Sets width as 100% for the following classes */
.hero-image img,
.sectionarticle h2,
.sidebar h2,
.aboutme-image img,
.resume-image img,
.projects img,
.contact-me h2,
input[type=text],
select,
textarea,
.footer {
    width: 100%;
}

/* Sets flex-wrap:wrap for following classes */
.resume-text p,
.workme-image,
.footer {
    flex-wrap: wrap;
    /* Flex-wrap: sets whether flex items are forced onto 1 line or can wrap onto multiple lines. If wrapping is allowed, 
    it sets the direction that lines are stacked. https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
}

/*  FOOTER STYLES END */

/* HERO STYLES START */

/*Selects elements of the hero class, specifying the background-image url & setting position to relative, aligning text to center */
.hero {
    background-image: url("../../assets/images/purple-green-banner.jpg");
}

/* Sets following properties of the img element for the hero-image class  */
.hero-image img {
    height: 10%;
}

/* Sets following properties of the div element for the hero-image class  */
.hero-image div {
    bottom: 25%;
    right: 32%;
    left: 20%;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 2px;
}

.hero,
.projects {
    position: relative;
}

.hero-image div,
.bottom-left,
.other-bottom-left {
    position: absolute;
}

.hero-image h2,
input[type=submit] {
    color: black;
}

.hero,
.footer {
    text-align: center;
}

/* HERO STYLES END */

/*  SECTIONARTICLE STYLES START  */

.sectionarticle {
    margin-bottom: 20px;
}

.sectionarticle,
.resume-text p,
.contact-form {
    padding: 5%;
}

/* Sets the following properties for the sectionarticle & contact-me h2 elements  */
.sectionarticle h2,
.contact-me h2 {
    word-wrap: wrap;
    /* The word-wrap property allows long words to be able to be broken & wrap onto the next line. */
    font-size: 2rem;
    text-align: right;
}

/*  SECTIONARTICLE STYLES END */

/* SIDEBAR STYLES START  */

/* Sets min-width & width of all sidebar elements */
.sidebar {
    min-width: 15%;
    width: 10%;
}

.sidebar,
.aboutme-text p,
.contact-me {
    padding: 2%;
}

.sidebar,
h2,
.sectionarticle h2,
#feature p,
.contact-me h2 {
    color: var(--secondary-color);
}

.sidebar,
.contact-me {
    margin: 3%;
    border-right: 2px solid var(--secondary-color);
}

/* SIDEBAR STYLES END  */

/* ABOUT ME AND RESUME STYLES START */
.aboutme-text,
.resume-text p {
    letter-spacing: 1.5;
    line-height: 2;
}

.resume-text p,
.bottom-left h2,
.other-bottom-left h2 {
    font-weight: bold;
}

.aboutme-image,
.resume-image,
.contact-form {
    margin-left: 1%;
}

/* ABOUT ME AND RESUME STYLES END */

/* MY WORK STYLES START */

/* Sets content of work-me image to "space-evenly," which distributes items evenly and items have equal space around them 
https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
.workme-image {
    justify-content: space-evenly;
}

/* Sets the following properties for the projects class */
.projects {
    margin-bottom: 1%;
    padding-bottom: 1%;
    width: 45%;
}

/* Sets the opacity to .6 to make images more transparent for the img elements of the projects class */
.projects img {
    opacity: .5;
}

/* Sets the following properties for the bottom left & other bottom left classes */
.bottom-left .other-bottom-left {
    justify-content: left;
    line-height: 1.5;
    letter-spacing: .5;
}

/* Sets the following properties for all elements of the bottom-left class */
.bottom-left {
    bottom: 15px;
    padding: 5px;
    width: 13.5%;
}

.bottom-left h2,
.other-bottom-left h2 {
    font-size: 1.5em;
}

.bottom-left p {
    font-size: .7em;
}

/* Sets the following properties for all elements of the other-bottom-left class */
.other-bottom-left {
    bottom: 14px;
    padding: 6px;
    width: 24.5%;
}

/* Sets background color to light purple */
.bottom-left,
.other-bottom-left,
input[type=submit]:hover,
.footer {
    background-color: var(--primary-color);
}

/* Sets the width to 94 for all elements with the id, feature */
#feature {
    width: 94%;
}

/* MY WORK SECTION END */

/* CONTACT ME STYLES START */

/* Sets margin-right of all elements in the contact-form class */
.contact-form {
    margin-right: 1%;
}

/* Adapted code  for contact form with my modifications & comments for input[type=text],
select,
textarea from  https://www.w3schools.com/howto/howto_css_contact_form.asp  START */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    padding: 12px;
    border: 1px solid #ccc;
    /* Rounded borders of text area*/
    border-radius: 7px;
    /* Make sure that padding and width stays in place */
    box-sizing: border-box;
    /* Add a top margin */
    margin-top: 6px;
    /* Bottom margin */
    margin-bottom: 16px;
}

/* Style label */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button with a light-purple var(--tertiary-color) background
 color and the following properties */
input[type=submit] {
    background-color: var(--tertiary-color);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* End of adapted code form w3 schools, with my own modifications */
/* CONTACT FORM END */
/* CONTACT ME SECTION STYLES END */

/* MEDIA QUERIES START */

/* Media Query 1 */

/* Sets Media query properties for screens = or less than 1285px  */
@media only screen and (max-width: 1285px) {

    /* HEADER STYLES FOR MEDIA QUERY 1 START */
    .header h1 {
        font-size: 28px;
    }

    nav {
        width: 100%;
    }

    /*HEADER STYLES FOR MEDIA QUERY 1 END*/

    /*ABOUT ME & RESUME STYLES FOR MEDIA QUERY 1 START*/
    .aboutme-image img,
    .resume-image img {
        width: 300px;
    }

    .aboutme-text p {
        font-size: 12px;
        margin-right: 45%;
    }

    .resume-image p {
        margin-right: 65%;
    }

    /*ABOUT ME & RESUME STYLES FOR MEDIA QUERY 1 END*/

    /* MY WORK STYLES FOR MEDIA QUERY 1 START*/
    #feature img {
        width: 85%;
    }

    #placeholder-image img {
        width: 65%;
    }

    .bottom-left {
        bottom: 2.2%;
    }

    .other-bottom-left {
        bottom: 3.5%;
        width: 30%;
    }

    /* MY WORK STYLES FOR MEDIA QUERY 1 END*/

    /* CONTACT FORM STYLES FOR MEDIA QUERY 1 START*/
    .contact-me {
        margin-right: 5%;
        min-width: 15%;
        width: 10%;
    }

    .contact-form {
        width: 60%;
    }
}

/* CONTACT FORM STYLES FOR MEDIA QUERY 1 END */
/* MEDIA 1 STYLES END */

/* MEDIA QUERY 2 */
/* Sets media query properties for screens = or less than 896px */
@media screen and (max-width: 896px) {

    /* MEDIA QUERY 2 STYLES START*/

    /* HEADER STYLES FOR MEDIA QUERY 2 START*/
    .header {
        padding: 1px;
    }

    .header h1 {
        font-size: 30px;
        width: 70%;
    }

    .header nav ul li {
        display: flex;
        width: 10%;
    }

    nav ul li {
        margin-right: 150px;
        font-size: 15px;

    }

    nav div ul li {
        padding: 3px;
    }

    .header,
    .hero-image {
        width: 150%;
    }

    /* HEADER STYLES FOR MEDIA QUERY 2 END*/

    /* SECTIONARTICLE STYLES FOR MEDIA QUERY 2 START*/
    .sectionarticle {
        display: block;
    }

    /* SECTIONARTICLE STYLES FOR MEDIA QUERY 2 END*/

    /* SIDEBAR STYLES FOR MEDIA QUERY 2 START*/
    .sidebar,
    .resume-image img,
    #feature img,
    .contact-me,
    .contact-me h2,
    .contact-form {
        width: 100%;
    }

    .sidebar,
    .contact-me {
        border-right: none;
    }

    .sidebar h2,
    .contact-me h2 {
        border-bottom: 2px solid var(--secondary-color);
    }

    .sidebar h2 {
        padding: 6px;
        justify-content: center;
    }

    /* SIDEBAR STYLES FOR MEDIA QUERY 2 END */

    /* ABOUT ME AND RESUME STYLES FOR MEDIA QUERY 2 START*/
    .aboutme-image {
        width: 70%;
    }

    #about-me p {
        margin-left: 15%;
    }

    .aboutme-text p,
    .resume-text p {
        font-size: 12px;
    }

    .resume-image img {
        padding-top: 1%;
        padding-right: 5%;
    }

    .aboutme-text p,
    .resume-text p,
    .other-bottom-left {
        width: 90%;
    }

    /* ABOUT ME & RESUME STYLES FOR MEDIA QUERY 2 END */

    /* MY WORK STYLES FOR MEDIA QUERY 2 START */

    #placeholder-image img {
        height: 100px;
    }

    .bottom-left,
    .other-bottom-left {
        width: 20%;
    }

    .bottom-left {
        bottom: 2.2%;
    }

    .other-bottom-left {
        bottom: 9.5%;
        height: 50%;
        font-size: 11px;
    }

    /* MY WORK STYLES FOR MEDIA QUERY 2 END */

    /* CONTACT FORM STYLES FOR MEDIA QUERY 2 START */
    .contact-me {
        left: 100px;
    }

    .contact-me h2 {
        top: 78px;
        text-align: center;
        margin-left: 4%;
        padding-bottom: 3px;
    }

    .contact-form {

        margin-right: 70%;
        padding-right: 8px;
        padding-left: 8px;
        left: 5px;
        padding-bottom: 70px;
    }

    /* CONTACT FORM STYLES FOR MEDIA QUERY 2 END*/

    /* FOOTER STYLES FOR MEDIA QUERY 2 START */
    .footer {
        width: 120%;
    }

    /* FOOTER STYLES FOR MEDIA QUERY 2 END */
    /* MEDIA QUERY 2 STYLES END */
}

/* CONTENT STYLES END */