/* TODO: Remember to consolidate the CSS */
/* TODO: Add Screenshot to Readme and link to website  */

:root {
    --primary-color: rgb(215, 134, 215);
    --secondary-color: #800080;
    --tertiary-color: rgb(225, 188, 225);
}

    * {
    box-sizing: border-box; 
    padding: 0;
    margin: 0
    }


.row::after {
    content: "";
    clear: both;
    display: table;
}


/*Element selector*/
/*Sets background color to light purple*/

body {
    background-color: rgb(225, 188, 225);
}




/* Centering the page */

.wrapper {
    max-width: 60em;
    margin: 0 auto;
}

/*Class selector*/
/*Selects all elements of the header class, setting padding to 20px, font-family, background to dark blue, and color to white*/
/* The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area.

 */
.header {
    border: 1px solid rgb(7, 7, 39);
    background-color: #333;
    overflow: hidden;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}


/*Selects the h1 elements within the class = "header;" sets header to inline-block & font-size to 48 pixels
Inline-block: Like the inline element, doesn't start on a new line, but can set width and height values*/

.header h1 {
    position: left;
    display: inline-block;
    font-size: 48px;
    background-color: purple;
}


/*Sets measurements, positioning, font-family and font-size for the navigation bar - which you can find in HTML doc-
nav element contains a class attribute with the value of "header", header contains a div element*/

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Sets the list style type as none for the unordered list in the div element, assigned the value of "header"
to none means there are no markers for the items in this list - see  https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type*/
.header nav ul {
    list-style-type: none;
}

/*Sets the display of the list elements of the unordered list in nav bar to inline block and sets the margin to 25 px
on the left side of the navigation: nav element contains a class attribute with the value of "header", header contains a div element.... etc*/

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 2px solid rgb(218, 180, 218);
}

/*Sets the color to white and text-decoration to none for all a elements*/

a {
    color: #ffffff;
    text-decoration: none;

}

/*Sets font size of all p elements*/

p {
    font-size: 16px;
}

/* FOOTER STYLES START */
footer {
    background: var(--primary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--primary-color);
  }
  
  /* END FOOTER STYLES */
  
/*Selects elements of the hero-image class, setting the display to flex, the flex-drection to column, and inserting a background-image*/
.hero-image {
    background-image: url("../../images/purple-green-banner.jpg");
    position: relative;
    text-align: center;
}

.hero-image img {
    width: 100%;
    height: 10%;

}

.hero-image div {
    position: absolute;
    bottom: 25%;
    right: 32%;
    left: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 2px;
}

.pages {
    margin: 1%;
    display: flex;
}

.sidebar {
    min-width:15%;
    width: 10%;
    padding: 2%;
    margin: 3%;
    border-right: 2px solid black;
}

.sidebar h2 {
    width: 50%;
    padding: 2%;
    margin: 3%;
}



 /* sets margin area on the left side 20px of elements in the content class*/ */

.content {
    width: 75%;
    display: flex;
    margin-left: 20px;
}

/*Sets the following properties of the search-engine optimization, online-reputation-mangement, and social-media marketing classes;
sets the background color to blue and color to white for these classes*/


.aboutme-image, .resume-image {

    display: flex;
    margin-left: 1%;
}

.aboutme-image div {
    max-width: 50%;
}

.aboutme-image img, .resume-image img {
  width: 100%;
}

.aboutme-image p {
    padding: 1%;
    letter-spacing: 1.5;
    line-height: 2;

}

 

.sectionarticle {
    margin-bottom: 20px;
    display: flex;
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.sectionarticle h2  {
    word-wrap:wrap;
    font-size: 2rem;
    text-align: right;
    width: 100%;
    display: flex;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/*Sets the following properties of the workme-image class; sets the position to relative
sets the width to 100% and height to 10% for the img element
*/

.workme-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: .005%; */
    /* margin-left: .0002%; */
    /* vertical-align: auto; */

}

.projects {
    margin-bottom:1%; 
    padding-bottom:1%;
    width:45%;
    position:relative;
}
.projects img {
    width: 100%;
    opacity: .6;
    /* vertical-align: auto; */

}

/* TODO: CONSOLIDATE THE FOLLOWING */
.projects h2 {
   color: black;
    background-color: rgb(158, 125, 158);
    width: auto;
    position: absolute;
    /* font-style: italic; */
    letter-spacing: 2px;
    line-height: 1; 
    bottom: 15%;
    left:4%;
    /* display: flex; */
}

.feature-title {
    color: black;
    background-color: rgb(158, 125, 158);
    width: 30%;
    position: relative;
    bottom: 15%;
}

 #website-title {
    font-size: 1.5em;
 }
 
 #programming-language {
    font-size: .5em;
 }



#feature {
    width: 94%;
}

#contact h2 {
    padding: 10%;
    display: flex;
}
/*Sets the following properties of the benefits class; sets background color to blue*/


.contact-form {
    margin-right: 1%;
    margin-left: 1%;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: purple;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: var(--tertiary-color); 
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: var(--primary-color);
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Sets the font size of the h2 element of the footer class*/

.footer h4 {
    font-size: 20px;
}

/* MEDIA QUERIES  */
/* Extra small devices (phones, 600px and down) */



@media only screen and (max-width: 1285px) {

    

    .hero-image div {
        bottom: 10%;
        margin: 2%;
    }
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
   Show the link that contains should open and close the nav (.icon) */
@media screen and (max-width: 896px) {
    nav a:not(:first-child) {
        display: none;
    }

    nav a.icon {
        float: right;
        display: block;
    }

    .contact-form {

        width: 85%;
        margin-top: 0; 
    }
    .sectionarticle{
        display: block;
    }
    .sidebar{
        width: 100%;

    }
    .aboutme-image, .resume-image {
        width: 100%;
    }
}

